@{


    <title>Todo App Denemesi</title>
    Layout = "_EmptyLayout";

}
@model List<TodoViewModel>


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Örnek</title>

    <style>
        input[type="checkbox"] {
            content: url('../css/icon_emptybox.png');
            display: block;
            width: 30px;
            height: 30px;
        }

            input[type="checkbox"]:checked {
                content: url('../css/icon_checked.png');
            }
    </style>
</head>
<body>
    <div class="d-flex p-2 w-100">
        <form asp-controller="Liste" asp-action="Add" method="post" class="d-flex p-2 w-100">

            <input type="text" name="Do" class="form-control" placeholder="Yeni görev açıklamasını girin" required />

            <button type="button" id="addButton" class="addLink"><img src=~/css/images/icon_ekle.png alt="Görev Ekle" width="30" height="30" /></button>

        </form>
    </div>




    <div class="container-lg" style="margin-top: 50px">


        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Id</th>
                    <th>Yapılacak</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model)
                {
                    <tr>
                        <td class="row-number"></td>
                        <td>@item.Id</td>

                        <td>@item.Do</td>
                        <td>

                            <input type="checkbox" class="tamamlandiMiCheckbox" data-id="@item.Id" @(item.TamamlandiMi ? "checked" : "") />

                        </td>
                        <td><a href="#" class="removeLink" data-id="@item.Id"><img src=~/css/images/icon_bin.png alt="Görev Sil" width="20" height="20" /></a></td>



                    </tr>

                }

            </tbody>
        </table>
    </div>


</body>
</html>









@section Scripts{


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
    function runningFormatter(value, row, index) {
        return index;
    }



    $(document).ready(function () {

        updateRowNumbers();




        // Görev Silme AJAX
        $(".removeLink").click(function () {
            var id = $(this).data("id");
            var row = $(this).closest("tr");
            $.ajax({
                type: "POST",
                url: "@Url.Action("Remove", "Liste")",
                data: { id: id },
                success: function () {
                    row.remove();

                    updateRowNumbers();
                }
            });
        });



       // Checkbox durumu değiştiğinde Update metodu çağrılacak
        $(".tamamlandiMiCheckbox").change(function () {
            var id = $(this).data("id");
            var isChecked = $(this).is(":checked");

            // AJAX isteği ile Update metodu çağrılacak
            $.ajax({
                type: "POST",
                url: "@Url.Action("Update", "Liste")",
                data: { id: id, Do: "", TamamlandiMi: isChecked }, // Do parametresi gerekebilir, isteğe bağlı
                success: function () {
                    // Başarılı işlem sonrası yapılacak işlemler (isteğe bağlı)
                },
                error: function () {
                    // Hata durumunda yapılacak işlemler (isteğe bağlı)
                }
            });
        });
        function updateRowNumbers() {
            $(".row-number").each(function (index) {
                $(this).text(index + 1);
            });
        }
    });
    </script>



}


