@{


    <title>Todo App Denemesi</title>
}
@model List<YapmaListesi>

@if (TempData["status"] != null)
{
    <div class="alert alert-secondary" role="alert">
        @TempData["status"]
    </div>
}



<form asp-controller="Liste" asp-action="Add" method="post">

    <input type="text" name="Do" placeholder="Yeni görev açıklamasını girin" required />

    <button type="submit">Görev Ekle</button>

</form>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Yapılacak</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>

                <td>@item.Do</td>
                <td><a href="#" class="removeLink" data-id="@item.Id">Sil</a></td>
                <td><a asp-controller="Liste" asp-action="update" asp-route-id="@item.Id">Güncelle</a></td>
                <td>
                </td>
            </tr>

        }
    </tbody>

</table>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    $(document).ready(function () {
       

        // Görev Silme AJAX
        $(".removeLink").click(function () {
            var id = $(this).data("id");
            var row = $(this).closest("tr");
            $.ajax({
                type: "POST",
                url: "@Url.Action("Remove", "Liste")", // Değiştirmeniz gerekebilir
                data: { id: id },
                success: function () {
                    row.remove();
                }
            });
        });
    });
</script>















