@{
        ViewData["Title"] = "Weather Forecast";
        Layout = "_Weather";
    }
    @model List<WeatherModel>






    <div class="row">



        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="weather">
                <div class="row justify-content-center">
                    <div class="col info">
                        <h2>Today</h2>
                        <div class="location">
                            <i class="loc-icon fa-solid fa-location-dot"></i>
                            <span class="cityname"> ~</span>

                            <span class="countryname">~ </span>
                            
                        </div>
                        
                        <div class="degree">
                            <h1 class="resim"> </h1>
                            <h1 class="temp">~°C</h1>
                            <h2 class="sunny">~  </h2>

                        </div>
                    </div>
                    <div class="col detail">
                        <div class="details mt-5">
                           
                            <div class="humid">
                                <span class="extra-info">
                                    <img src="~/css/nem.png" alt="Humidity Icon">
                                </span>

                                   
                                    <span class="title">Humidity: </span>
                                    <span class="value humidity"> ~ %</span>
                                </div>
                            <div class="win">
                                <span class="extra-info">
                                    <img src="~/css/windd.png" alt="Wind Icon">
                                </span>
                                <span class="title">Wind Speed: </span>
                                <span class="value wind"> ~ km/h</span>
                            </div>
                            </div>
                        

                        </div>
                    <div class="container">
                        <div class="search mt-8 inputBox">
                            <input type="text" placeholder="Search for another place..." spellcheck="false">

                            <button class="btn btn-secondary">Search</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

       


        <div class="col">
            <div class="row">
                @foreach (var app in Model)
                {
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="card">
                        

                        <i class="loc-icon fa-solid fa-location-dot"></i>

                        <span class="cityname">@app.Name</span>
                        <span>,</span>
                        <span class="description">@app.Sys.Country</span>
                        @foreach (var weather in app.Weather)
                        {
                            <div class="description">@weather.Description</div>
                            <div>
                                <img class="icon" src="https://openweathermap.org/img/w/@(weather.Icon).png" alt="Weather Icon">
                                
                            </div>
                        }

                        <div class="temperature">@Math.Round(app.Main.Temp) &deg;C</div>


                        <div class="info">
                            <div>

                            </div>


                            <div class="extra-info">
                                <img src="~/css/nem.png" alt="Humidity Icon">
                                <span>Humidity: @app.Main.Humidity%</span>
                            </div>

                            <div class="extra-info">
                                <img src="~/css/windd.png" alt="Wind Icon">
                                <span>Wind Speed: @app.Wind.Speed km/h</span>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>

