@{
        ViewData["Title"] = "Weather Forecast";
        Layout = "_Weather";
    }
    @model List<WeatherModel>






    <div class="row">



        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="weather">
                <div class="row justify-content-center">
                    <div class="col info">
                        <h2>Today</h2>
                        <div class="location">
                            <i class="loc-icon fa-solid fa-location-dot"></i>
                            <span class="cityname">Paris</span>
                            <span>,</span>
                            <span class="countryname">FR</span>
                        </div>

                        <div class="degree">
                            <h1 class="temp">29°C</h1>
                            <h2 class="sunny">Sunny</h2>
                        </div>
                    </div>
                    <div class="col detail">
                        <div class="details mt-5">
                            <div class="press">
                                <span class="title">PRESSURE</span>
                                <span class="value pressure">1007 mb</span> <br />
                            </div>
                            <div class="humid">
                                <span class="title">HUMIDITY</span>
                                <span class="value humidity">12 %</span>
                            </div>
                            <div class="win">
                                <span class="title">WIND</span>
                                <span class="value wind">1.46 km/h</span>
                            </div>
                        </div>
                        <div class="search mt-5 inputBox">
                            <input type="text" placeholder="Search for another place..." spellcheck="false">
                            <i class="fa-solid fa-location-dot inp-icon"></i>
                            <button class="btn btn-secondary">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       


        <div class="col">
            <div class="row">
                @foreach (var app in Model)
                {
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="card">

                        <div class="city">@app.Name</div>
                        <div class="description">@app.Sys.Country</div>
                        @foreach (var weather in app.Weather)
                        {
                            <div class="description">@weather.Description</div>
                            <div>
                                <img class="icon" src="https://openweathermap.org/img/w/@(weather.Icon).png" alt="Weather Icon">
                            </div>
                        }
                        <div class="temperature">@app.Main.Temp &deg;C</div>
                        <div class="info">
                            <div>

                            </div>


                            <div class="extra-info">
                                <img src="~/css/nem.png" alt="Humidity Icon">
                                <span>Humidity: @app.Main.Humidity%</span>
                            </div>

                            <div class="extra-info">
                                <img src="~/css/windd.png" alt="Wind Icon">
                                <span>Wind Speed: @app.Wind.Speed m/s</span>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
